<div class="jumbotron">
    <h1>Making Maps</h1>

    <p>Search by Street address or latitude and longitude, if you enter a address search will prefer that</p>
    <hr>

    <div ng-app="ngBoilerplate.maps">
        <div ng-controller="formController">
            <form novalidate class="simple-form">
                <table>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" ng-model="query.street" title="Address:"/></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" ng-model="query.city"/></td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td><input type="text" ng-model="query.state"/></td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td><input type="text" ng-model="query.zip"/></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td><input type="text" ng-model="query.country"/></td>
                    </tr>
                    <tr>
                        <td>Latitude:</td>
                        <td><input type="number" ng-model="query.center.latitude"/></td>
                    </tr>
                    <tr>
                        <td>Longitude:</td>
                        <td><input type="number" ng-model="query.center.longitude"/></td>
                    </tr>
                </table>
                <br/>
            </form>
            <!--<h3>Map is {{mapViewVals}} </h3>
            <h3>Query is {{query}}</h3>-->
        </div>
    </div>

    <div ng-app="myGmap" ng-controller="gmapController" class="btn-group map-group">
        <input type="button" ng-app="myGmap" ng-controller="gmapController" ng-click="search()" value="Search" class="btn btn-large btn-danger">
        <input type="button" ng-app="myGmap" ng-controller="gmapController" ng-click="markSearch()" value="Mark searched location" class="btn btn-large"/>
        <input type="button" ng-app="ngBoilerplate.maps" ng-controller="formController" ng-click="focusMap()" value="Center on search" class="btn btn-large"/>
        <input type="button" ng-app="myGmap" ng-controller="gmapController" ng-click="deleteMarkers()" value="Delete all markers" class="btn btn-large"/>
    </div>

    <div height="600px" ng-app="myGmap" ng-controller="gmapController" class="map-view">
    <h5>Current center, Latitude: {{mapViewVals.center.latitude}}, Longitude: {{mapViewVals.center.longitude}}</h5>

        <ui-gmap-google-map center="map.center"
                            zoom="map.zoom"
                            draggable="true"
                            events="map.event">
            <ui-gmap-marker idKey="2" coords="map.center"></ui-gmap-marker>
            <ui-gmap-markers models="markerList.getMarkerList()" coords="'coords'" idKey="'idKey'">
                <ui-gmap-window isIconVisibleOnClick="true">
                    <p>
                        Cheese and rice
                    </p>
                </ui-gmap-window>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

</div>